<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="언제 어디서든 그 곳이 궁금하다면 일리언">
    <title>시작페이지</title>
</head>
<body>
<div id="wrap">
    <div id="header" role="banner">

    </div>
    <div id="container" role="main">
        <div class="group_login">
            <div class="login_input_wrap">
                <div class="id_input">
                    <input type="text" name="id" id="id">
                </div>
                <div class="pw_input">
                    <input type="text" name="password" id="password">
                </div>
            </div>
            <div class="login_button_wrap">
                <button type="submit" class="login_button" id="login_button">
                    <span class="login_button_text">로그인</span>
                </button>
            </div>
            <div class="sign_wrap">
                <div class="search_id">
                    <span>아이디 찾기</span>
                </div>
                <div class="search_pw">
                    <span>비밀번호 찾기</span>
                </div>
                <div class="sign_up">
                    <span>회원가입</span>
                </div>
            </div>
        </div>
    </div>
    <div id="footer" role="contentinfo">
        <div class="footer_content_wrap">
            <div class="author_content">
                <span>Copyright © illion 2022</span>
            </div>
            <div class="author_discription_content">
                <p>
                    대표 : 김정수<br>
                    사업자번호 : 000000-00-000000<br>
                    주소 : 경기도 오산시 *<br>
                    전화 : 010-0000-0000
                </p>
            </div>
        </div>
        <div class="footer_icon_wrap">
            <div class="facebook_icon_div">
                <img src="#">
            </div>
            <div class="instagram_icon_div">
                <img src="#">
            </div>
            <div class="youtube_icon_div">
                <img src="#">
            </div>
            <div class="naverblog_icon_div">
                <img src="#">
            </div>
        </div>
    </div>
</div>
</body>
</html>